# WebStorm         
.idea/             
                   
# Mac              
.DS_Store          
                   
# vi               
*~                 
ctags              
tags
.php-cs-fixer.cache

.env
gin-bin

# docker
docker-compose.override.yml

# Makefile
Makefile_override
                   
# General          
#log/               
#*.log              

