[credential]
    helper = store
[pull]
    rebase = false
[diff]
    submodule = log
[status]
    submoduleSummary = true
[alias]
    spush = push --recurse-submodules=on-demand
    addignore = "!f() { echo $1 >> .gitignore; }; f"
    untrack = !git update-index --assume-unchanged
    track = !git update-index --no-assume-unchanged
	root = rev-parse --show-toplevel
[user]
	name = fgilles
	email = fgilles@corp.free.fr
[core]
	excludesfile = ~/dotfiles/git/.gitignore
	hooksPath = ~/dotfiles/git/hooks
    pager = "diff-so-fancy | less --tabs=4 -RFX"
	editor = nvim
[commit]
	template = /home/fgilles/dotfiles/git/.gitmessage
[mergetool "nvimdiff4"]
    # Like "nvimdiff", but always ignore $BASE.
    cmd = nvim -f -d -c '$wincmd w' -c 'wincmd J' $LOCAL $REMOTE $MERGED
[url "ssh://git@gitlab.internal.ftth.iliad.fr:2022/"]
    insteadOf = https://gitlab.internal.ftth.iliad.fr/
[init]
	defaultBranch = main
